.mobile__section {
    padding: 0 40px 96px;
}

.mobile__box {
    margin-top: 144px;
    max-width: 625px;
    width: 100%;
}

.mobile__desc {
    margin-top: 40px;
}

.mobile__box-fixed {
    display: flex;
    justify-content: space-between;
}

.mobile__btns {
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
}

.mobile__btn {
    padding: 13px 19px 10px;
    display: flex;
    column-gap: 8px;
    justify-content: flex-start;
    border: 1px solid var(--border-dark);
    border-radius: 40px;
    max-width: 200px;
    width: 100%;
    transition: background-color .6s;
}

@media (hover: hover) and (pointer: fine) {
    .mobile__btn:hover {
        background-color: var(--border-dark);
    }

    .mobile__btn:hover .mobile__btn-text {
        color: var(--text-light);
    }

    .mobile__btn:hover svg path {
        fill: var(--text-light);
        transition: fill .6s;
    }
}


.mobile__btn-text-top {
    text-align: left;
}

.mobile__btn-text {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    transition: color .6s;
}

.mobile__img {
    margin: auto 0;
}

.mobile__img img {
    max-width: 630px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .mobile__box-fixed {
        flex-direction: column;
        row-gap: 100px;
    }

    .mobile__box {
        margin-top: 0;
        max-width: inherit;
    }

    .mobile__img {
        margin: 0 auto;
    }

}

@media screen and (max-width: 380px) {
    .mobile__section {
        padding: 0 16px 97px;
    }

    .mobile__btns {
        flex-direction: column;
        row-gap: 21px;
    }

    .mobile__box-fixed {
        flex-direction: column;
        row-gap: 40px;
    }
}
