.offer__section {
    margin: 0 auto;
}

.offer__section h2 {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.offer__links {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.offer__links .offer__links-li {
    padding: 7px 18px 7px 9px;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid var(--border-light)
}

.offer__links-img {
    display: inline-block;
    margin-right: 4px;
    margin-top: 0;
    width: 30px;
    height: 30px;
    background: var(--border-light);
    border-radius: 40px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    transition: background-color .6s ease-in;
}

.offer__links-text {
    color: var(--text-dark);
    transition: color .6s ease-in;
}

.offer__links-li {
    cursor: pointer;
    transition: background-color .6s ease-in;
}

.offer__links-li.active {
    pointer-events: none;
    cursor: default;
    background: var(--border-dark);
}

@media (hover: hover) and (pointer: fine) {
    .offer__links-li:hover {
        background: var(--border-dark);
    }

    .offer__links-li:hover .offer__links-img {
        background: var(--bc);
    }

    .offer__links-li:hover .offer__links-text {
        color: var(--text-light);
    }
}

.active .offer__links-img {
    background: var(--bc);
}

.active .offer__links-text {
    color: var(--text-light);
}

.dishes__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 42px;
    padding: 40px 40px 102px;
}

.dishes__load-btn {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border: 1px solid var(--border-dark);
    border-radius: 50%;
}

.dishes__load-btn svg {
    width: 24px;
    height: 24px;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 308px;
    width: 100%;
    border: 1px solid var(--border-light);
    border-radius: 40px;
}

.card__desc {
    min-height: 72px;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover .card__img {
        transform: scale(0.9);
    }

    .modal__image:hover {
        transform: scale(0.9);
    }
}

.card__img {
    border-radius: 39px;
    max-width: 340px;
    width: 100%;
    height: 309px;
    transition: transform .6s ease;
}

.card__boxed {
    padding: 17px 19px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.card__desc {
    margin-top: 12px;
}

.card__price {
    margin-top: 12px;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 30;
}

.modal.active {
    display: flex;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(34, 34, 34, 0.6);
}

.modal__content {
    position: relative;
    display: flex;
    background: var(--bc);
    padding: 16px;
    max-width: 768px;
    width: 90%;
    z-index: 1;
    border-radius: 40px;
    animation: fadeInUp 0.3s ease;
}

.modal__image {
    border-radius: 40px;
}

.modal__desc {
    margin-top: 13px;
}

.modal__info {
    padding: 0 0 0 20px;
}

.modal .modal__size-btn, .modal .modal__additive-label {
    padding: 8px 20px 8px 7px;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid var(--border-light);
    transition: background-color .6s ease-in;
}

.modal .modal__additive-label {
    cursor: pointer;
    padding: 8px 15px 8px 7px;
}

.modal__additive-input {
    display: none;
}

.modal__price {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

.modal .modal__image {
    height: 310px;
    transition: transform .6s ease;
}

.modal__hr {
    margin-top: 22px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--border-light);
}

.modal__warning {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
}

.modal__warning-text {
    line-height: 14px;
}

.modal__close {
    margin-top: 32px;
}

.modal__close-btn {
    padding: 10px 90px 8px;
    width: 100%;
    border: 1px solid var(--border-dark);
    border-radius: 40px;
    transition: background-color .6s ease, color .6s ease;
}

@media (hover: hover) and (pointer: fine) {
    .modal__close-btn:hover {
        background-color: var(--border-dark);
        color: var(--text-light);
    }

    .modal .modal__size-btn:hover, .modal__additive-label:hover {
        background: var(--border-dark);
    }

    .modal .modal__size-btn:hover .modal__size-btn-letter,
    .modal__additive-label:hover .modal__additive-numb {
        background: var(--bc);
    }

    .modal .modal__size-btn:hover .modal__size-btn-text,
    .modal__additive-label:hover .modal__additive-text {
        color: var(--text-light);
    }
}

.modal .modal__size-btn.active {
    background: var(--border-dark);
    pointer-events: none;
    cursor: default;
}

.modal .modal__additive-label.active {
    background: var(--border-dark);
}

.modal__options {
    margin-top: 21px;
}

.modal__size-btns {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 8px;
}

.modal .modal__size-btn {
    cursor: pointer;
    margin-right: 2px;
}

.modal .modal__size-btn-letter, .modal .modal__additive-numb {
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: var(--border-light);
    color: var(--text-dark);
    border-radius: 40px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    transition: background-color .6s ease-in;
}

.modal .modal__size-btn.active .modal__size-btn-letter,
.modal__additive-label.active .modal__additive-numb {
    background: var(--bc);
}

.modal .modal__size-btn .modal__size-btn-text {
    color: var(--text-dark);
    transition: color .6s ease-in;
}

.modal .modal__size-btn.active .modal__size-btn-text,
.modal__additive-label.active .modal__additive-text {
    color: var(--text-light);
}

.modal__additives {
    margin-top: 20px;
}

.modal__additives-btns {
    margin-top: 6px;
    display: flex;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .offer__section h2 {
        max-width: 690px;
    }

    .offer__box-fixed {
        padding-bottom: 100px;
    }

    .dishes__card {
        padding: 40px 40px 42px;
    }

    .modal__content {
        max-width: 656px;
    }
    .modal__price {
        margin-top: 21px;
    }

    .modal__options {
        margin-top: 21px;
    }

    .modal__size-btns {
        column-gap: 5px;
        row-gap: 5px;
    }
}

@media screen and (max-width: 660px) {
    .modal__image {
        display: none;
    }

    .modal__content {
        max-width: calc(100% - 70px);
    }

    .modal__info {
        padding: 0;
    }
}

@media screen and (max-width: 380px) {
    .offer__section h2 {
        max-width: 340px;
    }

    .dishes__card {
        padding: 40px 30px 42px;
    }

    .offer__links {
        column-gap: 3px;
    }
}